/* h1 {
    color: darkolivegreen;
    background-color: lemonchiffon;
}
h2 {
    color: white;
    background-color: darkred;
}
h3 {
    color: #7747fc;
    background-color: #a1c7d1;
} */




