/* * {
	margin: 0; padding: 0;
	리셋시켜줌(위아래 0 좌우는 오토)
} */

body {
	cursor: url("chipsor.cur"), auto;
	/* margin: 0 auto;
	width: 960px; */
}

.backimg {
	background-image: url(../../img/broken.png);
	width: 300px;
	height: 150px;
	opacity: 30%;
	margin: auto;
	background-repeat: no-repeat;
	position: relative;
}

.backtxt {
	text-align: center;
	padding-top: 75px;
	/* padding-right: 100px; */
	transform: translate(-50%);
	position: absolute;
	opacity: 100%;
	color: #4ff9ff;
}

.backimg:hover {
	opacity: 60%;
	transition: 1s;
}

.backtxt:hover {
	opacity: 100%;
	color: #FFF;
}

/* +++++++++++++++++ to squish some texts +++++++++++++++++ */
p {
	text-indent: 2px;
	padding: 10px;
	margin: 1px;

}

/* table p {
	float: left;
} */

h1 {
	color: darkolivegreen;
	background-color: rgb(112, 87, 185);
}

h2 {
	color: rgb(36, 36, 190);
	/* background-color: darkred; */
	/* margin: 15px; */
	margin-left: 20px;
	margin-right: 20px;
}

h3 {
	color: rgb(105, 105, 167);
	/* background-color: #a1c7d1; */
	margin-left: 20px;
	margin-right: 20px;
}

a {
	color: rgb(37, 109, 192);
	position: relative;
	top: 0px;
	transition: top 0.2s;
	/* float: none; */
}

a:hover {
	top: -3px;
	color: rgb(169, 205, 50);
	transition: 0.2s;
	font-size: 110%;
}

#mainBox {
	margin: auto;
	text-align: center;
	font-size: large;
}
#testmainBox {
	/* position: absolute; */
	/* left: 50%; */
	margin: auto;
	/* top: 20%; */
	/* margin-left: 200px; */
	/* margin-top: -50px; */
	text-align: center;
	font-size: large;
	font-style: italic;
}

/* +++++++++++++++++ horrible movements and funzys +++++++++++++++++ */
#btnControl {
	display: none;
}

#btnControl:checked+label>img {
	transition: 0.3s;
	opacity: 100%;
	animation: shake 0.2s;
	animation-iteration-count: infinite;
}

@keyframes shake {
	0% {
	opacity: 100%;
	transform: translate(1px, 1px) rotate(0deg);
	}

	10% {
	opacity: 100%;
	transform: translate(-1px, -2px) rotate(-3deg);
	}

	20% {
	opacity: 100%;
	transform: translate(-3px, 0px) rotate(3deg);
	}

	30% {
	opacity: 100%;
	transform: translate(3px, 2px) rotate(0deg);
	}

	40% {
	opacity: 100%;
	transform: translate(1px, -1px) rotate(3deg);
	}

	50% {
	opacity: 100%;
	transform: translate(-1px, 2px) rotate(-3deg);
	}

	60% {
	opacity: 100%;
	transform: translate(-3px, 1px) rotate(0deg);
	}

	70% {
	opacity: 100%;
	transform: translate(3px, 1px) rotate(-3deg);
	}

	80% {
	opacity: 100%;
	transform: translate(-1px, -1px) rotate(3deg);
	}

	90% {
	opacity: 100%;
	transform: translate(1px, 2px) rotate(0deg);
	}

	100% {
	opacity: 100%;
	transform: translate(1px, -2px) rotate(-3deg);
	}
}

.chip {
	color: rgb(26, 119, 200);
	/* background-color: rgb(57, 45, 96); */
	margin-left: 20px;
	margin-right: 20px;
	width: 150px;
	height: 50px;
	/* display: block; */
	line-height: 50px;
}

.chip:hover {
	color: red;
	background-color: rgb(228, 173, 34);
	transition: 0.4s;
	font-weight: bolder;
	animation: shake 0.3s;
	animation-iteration-count: infinite;

}

.chips {
	opacity: 50%;
}

.chips:hover {
	transition: 0.3s;
	opacity: 100%;
}

.center {
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
}

/* +++++++++++++++++ main table things +++++++++++++++++ */
.bluetable {
	border-style: groove;
	/* vertical-align: middle; */
	display: table;
	margin-left: auto;
	margin-right: auto;
	padding: 6px;
	color: rgb(0, 0, 0);
	border-color: rgb(37, 21, 113);
	background-color: rgb(4, 2, 20);
}

.brighttable {
	background-color: rgb(8, 5, 34);
	padding: 10px;
	margin: 10px;
}

/* +++++++++++++++++ title at the top of the page +++++++++++++++++ */
#title {
	color: rgb(229, 218, 241);
	font-size: 40px;
	text-shadow: 1px 1px 10px rgb(18, 0, 55), 2px 2px 10px rgb(32, 2, 62), 2px 2px 2px rgb(36, 3, 52);
	text-align: center;
	width: 250px;
	height: 80px;
	line-height: 80px;
	margin: auto;
	animation: mymove 2s infinite;
}

#title:hover {
	/* transition: 5s; */
	animation: shake 0.2s;
	animation-iteration-count: infinite;
	background-color: red;
}

@keyframes shake {
	0% {
	opacity: 100%;
	transform: translate(1px, 1px) rotate(0deg);
	}

	10% {
	opacity: 100%;
	transform: translate(-1px, -2px) rotate(-3deg);
	}

	20% {
	opacity: 100%;
	transform: translate(-3px, 0px) rotate(3deg);
	}

	30% {
	opacity: 100%;
	transform: translate(3px, 2px) rotate(0deg);
	}

	40% {
	opacity: 100%;
	transform: translate(1px, -1px) rotate(3deg);
	}

	50% {
	opacity: 100%;
	transform: translate(-1px, 2px) rotate(-3deg);
	}

	60% {
	opacity: 100%;
	transform: translate(-3px, 1px) rotate(0deg);
	}

	70% {
	opacity: 100%;
	transform: translate(3px, 1px) rotate(-3deg);
	}

	80% {
	opacity: 100%;
	transform: translate(-1px, -1px) rotate(3deg);
	}

	90% {
	opacity: 100%;
	transform: translate(1px, 2px) rotate(0deg);
	}

	100% {
	opacity: 100%;
	transform: translate(1px, -2px) rotate(-3deg);
	}
}


@keyframes mymove {
	50% {
		width: 280px;
		background-color:
			rgb(104, 56, 181);
		font-size: 43px;
		letter-spacing: 5px;
	}

}




/* ============= Animation background ========= */
  .cube {
  	position: absolute;
  	top: 80%;
  	left: 80%;
  	width: 3px;
  	height: 3px;
  	transform-origin: top left;
  	transform: scale(0) rotate(0deg) translate(-50%, -50%);
  	animation: cube 4s ease-in forwards infinite;
  }

  .cube:nth-child(2n) {
  	border-color: #FFF;
  }

  .cube:nth-child(2) {
  	animation-delay: 3s;
  	left: 25%;
  	top: 40%;
  }

  .cube:nth-child(3) {
  	animation-delay: 2s;
  	left: 75%;
  	top: 50%;
  }

  .cube:nth-child(4) {
  	animation-delay: 4s;
  	left: 90%;
  	top: 15%;
  }

  .cube:nth-child(5) {
  	animation-delay: 3s;
  	left: 15%;
  	top: 70%;
  }

  .cube:nth-child(6) {
  	animation-delay: 2s;
  	left: 50%;
  	top: 10%;
  }

  .cube:nth-child(7) {
  	animation-delay: 2s;
  	left: 10%;
  	top: 30%;
  }

  .cube:nth-child(8) {
  	animation-delay: 2s;
  	left: 73%;
  	top: 55%;
  }

  .cube:nth-child(9) {
  	animation-delay: 1s;
  	left: 80%;
  	top: 20%;
  }

  .cube:nth-child(10) {
  	animation-delay: 3s;
  	left: 10%;
  	top: 15%;
  }

  @keyframes cube {
  	from {
  		transform: scale(0) rotate(0deg) translate(-50%, -50%);
  		opacity: 0.6;
  	}

  	to {
  		transform: scale(20) rotate(960deg) translate(-50%, -50%);
  		opacity: 0;
  	}
  }